@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=VT323&display=swap');

body,
html {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 12pt;
    background-color: #ffffff;
    background-image: url("../img/light-aluminum.png");
    text-transform: uppercase;
}

.lcd {
    font-family: 'DS-Digital', monospace;
    color: red;
    text-shadow: 0px 0px 2px red;
    padding: 0px 0.3em;
}

td.lcd {
    font-family: 'DS-Digital', monospace;
    color: red !important;
    text-shadow: 0px 0px 2px red !important;
    font-size: 24px;

}

td.lcd.yellow {
    font-family: 'DS-Digital', monospace;
    color: #F90 !important;
    text-shadow: 0px 0px 2px #F90 !important;
}


.table-lcd,
.table-lcd td,
.table-lcd th,
.table-lcd tr {
    background-color: black;
}

.midi-logo {
    height: 24px;
}

.midi {
    background-image: url("../img/midi-port.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    height: 24px;
    width: 24px;
    margin-top: 0px;
    opacity: 0.5;
}

.negative {
    filter: invert(1);
}

.receiving {
    opacity: 1;
}

th,
td {
    text-align: center;
    vertical-align: middle;
}

.off {
    opacity: 0.25!important;
}

.pedal {
    font-family: 'Bai Jamjuree', sans-serif !important;
    color: #ffffff !important;
    text-shadow: none;
}

.outline {
    border: white 1px solid;
    border-radius: 0.2em;
    padding: 0.2em;
    white-space: nowrap;
    color: white;
}

.outline-fill {
    background: white;
    color: black;
}

input[type=number] {
    background: black!important;
    color: red !important;
    text-shadow: 0 0 2px red;
    padding: 0px;
    margin: 0px;
    border: none !important;
    text-align: center;
    font-size: 24px;
    box-shadow: none !important;
}

.yellow input[type=number] {
    background: black;
    color: #F90 !important;
    text-shadow: 0 0 2px #F90;
}

.blue input[type=number] {
    background: black;
    color: #0FC !important;
    text-shadow: 0 0 2px #0FC;
}

td.lcd.blue {
    color: #0FC !important;
    text-shadow: 0 0 2px #0FC !important;
}

.blue{
    color: #0FC!important;
    text-shadow: 0 0 2px #0FC !important;
}

input[type=number]:focus {
    background: black;
    color: #0F6 !important;
    text-shadow: 0 0 2px #0F6;
    border: none !important;
    box-shadow: none !important;
}

.pointer {
    cursor: pointer;
}

.context-cursor {
    cursor: copy !important;
}

select {
    color: #0fC !important;
    text-shadow: 0 0 2px #0fc;
    background-color: #000000 !important;
    font-family: "VT323", monospace;
    text-transform: uppercase;
    font-weight: 400;
    font-style: normal;
    width: 150px!important;
}

th {
    background-image: url("../img/gravel.png");
}

.lcd-screen{
    font-family: "VT323", monospace !important;
    font-family: 'Bai Jamjuree', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-style: normal;
    background-size: 5px 5px;
    background: black !important;
    text-shadow: 0 0 2px #0FC !important;
    color:#0FC!important;
    font-size:24px;
}

.dash-animation {
    animation: dash-animation 1s infinite;
}

@keyframes dash-animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.rectangle{
    position:absolute;
    border:#0FC 3px solid;
}

.audiowide {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .increment-buttons button {
    border-radius: 0px;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 24px;
    font-family: 'DS-Digital';
}

.increment-buttons th {
    padding: 0px;
    margin: 0px;
}

.fcb1010-button{
    height:11vw;
    padding-bottom:7vw;
    vertical-align: top;
    font-weight: bold;
}

.fcb1010-button-expression{
    height:22.53vw;
    vertical-align: top;
    font-weight: bold;
}

.fcb1010-number{
    font-size:3rem;
    font-weight: bold;  
    margin:0px;
    padding:0px; 
    line-height:3rem;
}

.fcb1010-text{
    font-size: 1.2rem;
    font-weight: bold;
    margin:0px;
    padding:0px;
    line-height: 1rem;
}

.fcb1010-text-expression{
    font-size: 4rem;
    font-weight: bold;
    margin:0px;
    padding:0px;
}

.fcb1010-transparent-number{
    color:black;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
}

.fcb1010-button h6{
    font-size:0.3rem;
}

.fcb1010-test{
    background: rgb(33, 37, 41)!important;
}

.btn-switch {
    color: red;
    text-shadow: 0 0 2px red;
    padding: 0px;
    margin: 0px;
    border: none;
    font-size: 24px;
    font-family: 'DS-Digital';
    font-weight: bold;
}

.btn-switch:hover,.btn-switch:active{
    color: red;
    background:black;
}

.btn-switch:disabled {
    color: red;
}

.full-height{
    height:calc(100vh - 56px);
}

.w-33{
    width:33%;
}