<!doctype html>
<html ng-app="fcb1010EditorApp">

<head lang="en">
	<meta charset="utf-8" />
	<title>FCB1010 Editor</title>
	<meta description="Behringer FCB1010 MIDI Foot Contoller online editor."/>
	<link rel="icon" href="favicon/favicon.ico" type="image/x-icon">
  	<link rel="shortcut icon" href="favicon/favicon.ico" type="image/x-icon">
	<link href="lib/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
	<link href="./css/ds-digital.css" rel="stylesheet" />
	<link href="./css/main.css" rel="stylesheet" />
	<script src="lib/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/9291331795.js" crossorigin="anonymous"></script>
	<script src="lib/angular.min.js"></script>
	<script src="lib/angular-animate.min.js"></script>
	<script src="ng/app.js"></script>
	<script src="ng/filters/padding.js"></script>
	<script src="ng/filters/midinote.js"></script>
	<script src="ng/services/fileService.js"></script>
	<script src="ng/services/midiService.js"></script>
	<script src="ng/services/fcb1010Service.js"></script>
	<script src="ng/components/screenComponent.js"></script>
	<script src="ng/components/instructionsComponent.js"></script>
	<script src="ng/components/localComponent.js"></script>
	<script src="ng/controllers/appController.js"></script>
</head>

<body ng-controller="AppController">
	<header>
		<div class="navbar navbar-dark bg-dark">
			<div class="container-fluid ml-2 mr-2">
				<a href="#" class="navbar-brand d-flex align-items-center">
					<b>FCB1010</b>&nbsp;EDITOR
				</a>
				<div class="d-flex bg-dark text-light">
					<div class="btn-group">
						<button class="btn btn-outline-light text-uppercase btn-sm"
							ng-repeat="link in links track by $index"
							ng-class="{'btn-danger' : active_link.id == link.id}" ng-click="linkTo($index)">
							{{link.label}}
						</button>
						<a class="btn btn-outline-warning text-uppercase btn-sm" href="https://buymeacoffee.com/dilopez" target="_blank">
							☕️&nbsp;Buy me a Coffee!
						</a>
					</div>
				</div>
			</div>
		</div>
	</header>
	<main>
		<local-component editor="true" ng-show="active_link.href == 'editor'"></local-component>
		<local-component editor="false" ng-show="active_link.href == 'viewer'"></local-component>
		<div class="toast-container position-fixed m-auto top-0 bottom-0 start-0 end-0 p-3">
			<div class="toast text-bg-light" ng-class="{show : $root.toast}" role="alert" aria-live="assertive"
				aria-atomic="true">
				<div class="toast-header">
					<i class="fa-solid fa-square"
						ng-class="{'text-primary' : $root.toast.success,'text-danger' : !$root.toast.success}"></i>
					&nbsp;
					<b class="me-auto">{{$root.toast.source}}</b>
					<button type="button" class="btn-close" aria-label="Close" ng-click="$root.toast = null"></button>
				</div>
				<div class="toast-body text-center">
					{{$root.toast.message}}
				</div>
			</div>
		</div>
	</main>
</body>

</html>